<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t 'edit-date.edit-box.title' %></h3>
    </div>
    <div class="panel-body">
      <%= bootstrap_form_for [@group, @group_date] do |form| %>
        <%= form.text_field :name, label: t('edit-date.edit-box.name') %>
        <%= form.text_field :place, label: t('edit-date.edit-box.place') %>
        <%= form.datetime_select :from_date, label: t('edit-date.edit-box.from-date') %>
        <%= form.datetime_select :to_date, label: t('edit-date.edit-box.to-date') %>
        <%= form.text_area :description, label: t('edit-date.edit-box.description') %>

        <%= form.submit t('edit-date.edit-box.submit') %>
      <% end %>
    </div>
  </div>
</div>
