<h1><%= @group.name %></h1>

<ul class="group_dates">
  <% @group.group_dates.each do |group_date| %>
  <li id="<%= dom_id(group_date) %>">
    <%= group_date.name %>
    <%= link_to "Edit", edit_group_group_date_path(group_date) %>
    <%= link_to "Delete", group_group_date_path(group_date), method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Group Date", new_group_group_date_path %>
</p>
