<%= form_for [@group, @group_date] do |form| %>
  <% if @group_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_date.errors.count, "error") %> prohibited this group date from being saved:</h2>

      <ul>
      <% @group_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Save" %>
<% end %>
