<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creationdate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr id="<%= dom_id(group) %>">
        <td><%= group.name %></td>
        <td><%= group.creationDate %></td>
        <td>
          <%= link_to 'List Dates', group_group_dates_path(group) %>
          <%= link_to 'Show', group %>
          <%= link_to 'Edit', edit_group_path(group) %>
          <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
