<h1><%= @group.name %> <small>Creation date: <%= @group.creation_date %></small></h1>

<% if !@current_user.organizer %>
  <%= @group_member.name %>
<% end %>

<h3>Group Dates</h3>
<div class="row">
  <% @group.group_dates.each do |group_date| %>
    <div class="col-md-3 group-date" id="<%= dom_id(group_date) %>">
      <h4><%= group_date.name %> <small><%= group_date.from_date %></small></h4>
      <p><%= group_date.description %></p>

      <div class="meta">
        <% if !@current_user.organizer %>
          <a href="#">Ja</a><a href="#">Kanske</a><a href="#">Nej</a>
        <% else %>
          <div class="pull-right">
            <%= link_to "Delete", group_group_date_path(@group, group_date), method: :delete,
          data: { confirm: "Are you sure?" } %><%= link_to "Edit", edit_group_group_date_path(@group, group_date) %>
          </div>
        <% end %>

        <div class="pull-right">
          <%= link_to "Delete", group_group_date_path(@group, group_date), method: :delete,
        data: { confirm: "Are you sure?" } %><%= link_to "Edit", edit_group_group_date_path(@group, group_date) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3>Group Members</h3>
<ul class="group_members">
  <% @group.group_members.each do |group_member| %>
  <li id="<%= dom_id(group_member) %>">
    <%= group_member.name %>
    <%= link_to "Edit", edit_group_group_member_path(@group, group_member) %>
    <%= link_to "Delete", group_group_member_path(@group, group_member), method: :delete,
      data: { confirm: "Are you sure?" } %>
    <% if @current_user.organizer %>
      <%= link_to "Edit", edit_group_group_member_path(@group, group_member) %>
      <%= link_to "Delete", group_group_member_path(@group, group_member), method: :delete,
        data: { confirm: "Are you sure?" } %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if @current_user.organizer %>
  <hr>
  <%= link_to "New Group Date", new_group_group_date_path(@group) %>
  <%= link_to "New Member", new_group_group_member_path(@group) %>
  <%= link_to 'Edit Group', edit_group_path(@group) %>
<% end %>
