<div class="col-md-7">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Register for Funkar det</h3>
    </div>
    <div class="panel-body">
      <%= bootstrap_form_for(@user, layout: :horizontal) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_field :username %><br>
        <%= f.text_field :email %><br>
        <%= f.password_field :password %><br>
        <%= f.password_field :password_confirmation %><br>

        <%= f.fields_for :groups do |builder| %>
          <div class="field">
            <%= builder.text_field :name, label: "Groupname" %>
          </div>
        <% end %>

        <div class="form-group">
         <label class="control-label col-sm-2" for="group_username">Group username</label>
         <div class="col-sm-10">
           <input class="form-control" id="group_username" name="group[username]" type="text" />
         </div>
        </div>
        <br>

        <div class="form-group">
         <label class="control-label col-sm-2" for="group_password">Group password</label>
         <div class="col-sm-10">
           <input class="form-control" id="group_password" name="group[password]" type="password" />
         </div>
        </div>
        <br>

        <div class="form-group">
         <label class="control-label col-sm-2" for="group_password_confirmation">Group password (again)</label>
         <div class="col-sm-10">
           <input class="form-control" id="group_password_confirmation" name="group[password_confirmation]" type="password" />
         </div>
        </div>
        <br>

        <%= f.form_group do %>
          <%= f.submit "Sign Up" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Help text</h3>
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum felis nec risus vestibulum, ut dignissim massa ultricies. Nulla felis turpis, convallis ac porttitor in, rhoncus sed odio. </p>
      <p>Fusce sit amet diam et lacus porta accumsan eget at velit. Vivamus rhoncus ornare ornare. Proin sit amet eros ut metus consequat hendrerit ac nec libero. Integer accumsan eu elit id elementum. Aliquam quis purus sed mi venenatis convallis. Etiam eleifend enim id dapibus ultrices. Duis quis magna molestie, aliquam metus et, aliquet velit.</p>
    </div>
  </div>
</div>
