<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t 'login.login-box.title' %></h3>
    </div>
    <div class="panel-body">
      <%= bootstrap_form_tag url: user_sessions_path do |f| %>
        <%= f.text_field :username, label: t('login.login-box.username') %>
        <%= f.password_field :password, label: t('login.login-box.password') %>

        <%= f.submit t('login.login-box.submit') %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-7">
  <div class="panel panel-default welcome-box">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t 'login.welcome-box.title' %></h3>
    </div>
    <div class="panel-body">
      <span class="glyphicon glyphicon-calendar"></span>

      <%=t 'login.welcome-box.text.html' %>
      <%= link_to t('login.welcome-box.action'), new_user_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
