<!DOCTYPE html>
<html>
<head>
  <title><%=t 'layout.meta.title' %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"><%=t 'layout.header.toggle-nav' %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if @current_user %>
            <%= link_to @group.name, root_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to t('layout.header.title'), root_path, class: "navbar-brand" %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if @current_user %>
              <% if !@current_user.organizer %>
                <li><a href="#"><%=t 'layout.navigation.logged-in-as' %> <%= @group_member.name %></a></li>
              <% else %>
                <li><%= link_to raw('<span class="glyphicon glyphicon-calendar"></span> ') + t('layout.navigation.new-date'), new_group_group_date_path(@group) %></li>
                <li><%= link_to raw('<span class="glyphicon glyphicon-plus-sign"></span> ') + t('layout.navigation.new-member'), new_group_group_member_path(@group) %></li>
                <li><%= link_to raw('<span class="glyphicon glyphicon-cog"></span> ') + t('layout.navigation.edit-group'), edit_group_path(@group) %></li>
              <% end %>
              <li><%= link_to raw('<span class="glyphicon glyphicon-log-out"></span> ') + t('layout.navigation.log-out'), logout_path %></li>
            <% else %>
              <li><%= link_to raw('<span class="glyphicon glyphicon-plus-sign"></span> ') + t('layout.navigation.sign-up'), new_user_path %></li>
              <li><%= link_to raw('<span class="glyphicon glyphicon-log-in"></span> ') + t('layout.navigation.sign-in'), login_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert flash alert-info <%= type %>" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only"><%=t 'flash.close' %></span></button>
        <%= message %>
      </div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>

    <div class="footer">
      <p class="footer-change-lang">
        <% if I18n.locale == I18n.default_locale %>
          <%= link_to t('layout.footer.change-lang'), :locale=>'sv'%>

        <% else %>
          <%= link_to t('layout.footer.change-lang'), :locale=>'en'%>
        <%end%>
      </p>
      <p><%=t 'layout.footer.text' %></p>
    </div>
  </div>

  <script type="text/javascript">
    $('.btn').popover()
  </script>
</body>
</html>
